<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--20260206 추가-->
    <!--서블릿 컨텍스트 -> 전역 저장소 -> 서블릿(자바), jsp(화면) 이든 모두 가져다가 이용 가능-->
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>admin@example.com</param-value>
    </context-param>


<!--    20260212 스프링 수업중 : 자바에서도 화면에서도 사용    -->
<!--    root-context.xml 의 위치 지정  -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/root-context.xml</param-value>
    </context-param>

<!--    리스너 설정 -> 서버가 리스너를 켜서, 어떠한 액션에 대해서, 감지 모드 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>